---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const hrVina = await getCollection('vina', ({ id }) => {
  return id.startsWith('hr/');
});
---

<Layout title="Naša vina">
    <main class="container mx-auto px-4 py-20 flex-grow text-center">
        <h1 class="font-playfair text-5xl text-gold mb-6">Sva Vina</h1>
        <p class="text-text-muted mb-10">Otkrijte naš asortiman...</p>
        
        {hrVina.map(wine => (
            <a href={`/hr/vina/${wine.slug.replace('hr/', '')}`} class="inline-block p-4 border border-gold/30 hover:border-gold transition">
                <h2 class="text-xl text-gold font-playfair">{wine.data.name}</h2>
                <p class="text-sm text-text-muted">{wine.data.tagline}</p>
            </a>
        ))}
    </main>
</Layout>
