@import "tailwindcss";

@theme {
  --color-gold: #c3a35a;
  --color-gold-hover: #d4b56c;
  --color-dark: #0a0a0a;
  --color-text-light: #f5f5f5;
  --color-text-muted: #a0a0a0;

  --font-playfair: 'Playfair Display', serif;
  --font-inter: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-dark text-text-light font-inter m-0 p-0;
  }
}
